
//计步器
.@{css-prefix}counter{

}
.@{css-prefix}count-minus,
.@{css-prefix}count-add{
    width:25px;
    display: inline-block;
}
.@{css-prefix}counter i{
    font-size:25px;
}
.@{css-prefix}counter .count-num {
    display:block;
    border: 0;
    border: 0 none;
    -webkit-appearance: none;
    text-align: center;
    width:100%;
    opacity: 1;
}

.@{css-prefix}counter-two{

}

.@{css-prefix}counter-two .@{css-prefix}count-minus,
.@{css-prefix}counter-two .@{css-prefix}count-add{
    width:30px;
    height:25px;
    line-height: 25px;
    text-align: center;
    background-color:#d4e9fe;
    display: inline-block;
}
.@{css-prefix}counter-two i.icon{
    font-size:14px;

}

.@{css-prefix}counter-two .count-num[type='number']{
    margin:0 .1rem;
    border:1px solid #e9e9e9;
    
}