.@{css-prefix}list{
    overflow: hidden;
    position: relative;
    padding:0 .24rem;
}

.@{css-prefix}list-item{
    padding:0 .24rem;
}

.@{css-prefix}list-img{
    height: 0;
    width: 100%;
    padding: 50% 0;
    overflow: hidden;
}

.@{css-prefix}list-img img{
    width: 100%;
    margin-top: -50%;
    border: none;
    display: block;
}

.@{css-prefix}list-title{
    word-wrap: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: justify;
    height:20px;
}