.@{css-prefix}scrollNav{

}

.@{css-prefix}scrollNav-box{
    overflow-x: scroll;
}

.@{css-prefix}scrollNav-list {
    background-color: #fff;
    overflow-x: scroll;
    white-space: nowrap;
}

.@{css-prefix}scrollNav-list>div {
    display: inline-block;
    padding: .48rem;
    font-size: 14px;
}

.@{css-prefix}scrollNav-icon {
    position: relative;
    width: 1.5rem;
    box-shadow: -2px 0 3px rgba(0, 0, 0, .1);
}

.@{css-prefix}scrollNav-icon::before {
    content: ' ';
    position: absolute;
    right: .55rem;
    top: 54%;
    margin-top: -6px;
    border: #c7c7c7 solid;
    border-width: 2px 0 0 2px;
    width: 8px;
    height: 8px;
    -webkit-transform: rotate(228deg);
}